@page "/denuncia"
@inject SweetAlertService Swal;
@inject IDenunciaService denunciaService;

<div class="ContenedorSuperior Denuncia">
    <h3>Administracion Denuncias</h3>
</div>

<div class="Opciones">

    <a class="btn btn-success btn-sm mb-3 botonAgregar" @onclick="@(()=> ShowModal(0))">Nueva denuncia</a>

    

</div>

<div class="ContenedorTarjetas">

    @if (listaDenuncia == null)
    {
        <tr>
            <td colspan="16" align="center">
                <img style="width:50px" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2Floading-carregando-gif-loading-carregando-circling-discover-share-gifs--793759503068169543%2F&psig=AOvVaw2D2qTJGKeHDFxK_EN3gl6b&ust=1725256713418000&=&cd=vfe&opi=89978449&ved=" />
            </td>
        </tr>
    }
    else
    {
        @foreach (var item in listaDenuncia)
        {
            <div class="Tarjeta">

                <div class="Titulo">
                    <h5>@item.Denuncia</h5>
                </div>

                <div class="Contenido">

                    <ul>
                        <li>@item.Tipodenuncia</li>
                        <li>@item.Denunciante</li>
                        <li>@item.Denunciado</li>
                        @if (item.Estado == 1)
                        {
                            <li>Activo</li>
                        }
                        else
                        {
                            <li>Inactivo</li>
                        }
                    </ul>

                </div>

                <div class="Boton">
                    <a class="btn btn-warning btn-sm botonActualizar" @onclick="@(() => ShowModal(item.Iddenuncia))">
                        Editar Denuncia
                    </a>
                </div>

            </div>
        }
    }

</div>

@* <h3>Denuncia </h3>

<a class="btn btn-success btn-sm mb-3" @onclick="@(()=> ShowModal(0))">Nueva Denuncia</a>

<table class="table table-striped table-hover">
    <thead>
        <tr class="table-light">
            <th>N°</th>
            <th>Denuncia</th>
            <th>Tipodenuncia</th>
            <th>Denunciante</th>
            <th>Denunciado</th>
            <th>Estado</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">

        @if (listaDenuncia == null)
        {
            <tr>
                <td colspan="16" align="center">
                    <img style="width:50px" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2Floading-carregando-gif-loading-carregando-circling-discover-share-gifs--793759503068169543%2F&psig=AOvVaw2D2qTJGKeHDFxK_EN3gl6b&ust=1725256713418000&=&cd=vfe&opi=89978449&ved=" />

                </td>
            </tr>
        }
        else
        {
            @foreach (var item in listaDenuncia)
            {
                <tr>
                    <td>@item.Iddenuncia</td>
                    <td>@item.Denuncia</td>
                    <td>@item.Tipodenuncia</td>
                    <td>@item.Denunciante</td>
                    <td>@item.Denunciado</td>
                    @if (item.Estado == 1)
                    {
                        <td>Activo</td>
                    }
                    else
                    {
                        <td>Inactivo</td>
                    }
                    <td>
                        <a class="btn btn-warning btn-sm" @onclick="@(() => ShowModal(item.Iddenuncia))">
                            Editar
                        </a>
                    </td>
                </tr>
            }
        }

    </tbody>

</table> *@



@code
{

    private List<DenunciaDTO>? listaDenuncia;

    [CascadingParameter] public IModalService Modal { get; set; } = default!;


    protected override async Task OnInitializedAsync()
    {
        listaDenuncia = await denunciaService.Lista();
    }

    private async Task ShowModal(int ID)
    {
        var options = new ModalOptions()
            {
                Position = ModalPosition.Middle
            };

        var parametros = new ModalParameters().Add(nameof(ModalDenuncia.idDenuncia), ID);

        var modal = Modal.Show<ModalDenuncia>("Gestion Denuncia", parametros, options);
        var resultado = await modal.Result;

        if (resultado.Confirmed)
        {
            if (resultado.Data.ToString() == "Ejecucion Correcta")
            {
                listaDenuncia = await denunciaService.Lista();
            }
        }

    }


}